<h4>Create a new category!</h4>

<%= form_for @category do |f| %>
	<%= render 'shared/errors', obj: @category %>
	<div class='control-group'>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<%= f.submit :class => 'btn btn-success' %>
<% end %>